name: Deploy Game of Life

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build_deploy_golife:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn clean package

      - name: Deploy WAR to Tomcat
        run: |
          WAR_FILE=$(ls gameoflife-web/target/*.war | head -n 1)
          APP_NAME=myapp
          curl -v -u "${{ secrets.TOMCAT_USERNAME }}:${{ secrets.TOMCAT_PASSWORD }}" \
            --upload-file "$WAR_FILE" \
            "http://${{ secrets.TOMCAT_HOST }}:8081/manager/text/deploy?path=/$APP_NAME&update=true"
